@use "bootstrap/scss/bootstrap";
// with (
//   $primary: #4caf50,
//   $border-radius: .75rem,
//   $font-size-base: 1.05rem
// );

:root {
  --custom-bg1: #434343;
  --custom-offwhite: #f8f8f8;
  --custom-primary: #f7c873;
  --custom-primary-light: #faebcd;
  --custom-primary-dark: #bc6c26;
  // --custom-secondary: #205e61;
  // --custom-secondary-dark: #084654;
  --custom-secondary-dark: #273618;
  --custom-secondary: #4f5c2f;
  --custom-black: #000;
  --custom-grey: rgb(148, 148, 148);

  --custom-radius: 5px;

  --font-main: "Ubuntu", sans-serif;
}

body {
  font-family: var(--font-main);
  font-weight: 400;
  line-height: 1;
  background-color: var(--custom-bg1);
  color: var(--custom-offwhite);
}

.page-title {
  color: var(--custom-primary-dark);
}
